
<div class="home-container">
  <h1>Marco Olivieri's Test Project for Secure Privacy</h1>
  <p>In this project, we will present the required points divided into two tasks. Each functionality will be accessible from the respective menu item (Users -> Task 1 | String Analysis -> Task 2).</p>

  <h2>Task 1: Basic .NET/C# Project with Angular Interface and GDPR Considerations</h2>
  <h3><strong>Objective:</strong></h3>
  <p>Develop a small .NET/C# web application with a basic Angular front-end, integrating MongoDB, and considering GDPR compliance aspects.</p>

  <h3><strong>Requirements:</strong></h3>
  <ul>
    <li><strong>Data Structure:</strong> Define a simple entity such as User or Product with basic attributes.</li>
    <li><strong>CRUD Functionality:</strong> Implement Create and Read operations.</li>
    <li><strong>Angular Front-End:</strong> Develop a minimal interface for adding (Create) and displaying (Read) the entities, demonstrate awareness of Redux approach.</li>
    <li><strong>MongoDB Integration:</strong> Use MongoDB for data storage and retrieval, and demonstrate using compound indexes in MongoDB.</li>
    <li><strong>GDPR Considerations:</strong> Implement basic GDPR compliance measures at the code and user-interface level.</li>
  </ul>

  <hr>

  <h2>Task 2: Binary String Analysis Function</h2>
  <h3><strong>Objective:</strong></h3>
  <p>Write a C# function to evaluate binary strings based on specific criteria.</p>

  <h3><strong>Requirements:</strong></h3>
  <ul>
    <li>The function accepts a binary string as input.</li>
    <li>Check if the binary string is 'good' based on these conditions:</li>
    <ul>
      <li>Equal number of 0's and 1's.</li>
      <li>For every prefix, the number of 1's is not less than the number of 0's.</li>
    </ul>
  </ul>
</div>

