<mat-nav-list>
  <!-- menu HOME -->
  <a mat-list-item (click)="onMenuClick('home')">
    <mat-icon matListItemIcon>home</mat-icon>
    <div matListItemTitle>Home</div>
  </a>

  <!-- menu Users -->
  <a mat-list-item (click)="onMenuClick('users')">
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Users</div>
  </a>

  <!-- menu Binary Verify -->
  <a mat-list-item (click)="onMenuClick('verify')">
    <mat-icon matListItemIcon>check</mat-icon>
    <div matListItemTitle>Binary Check</div>
  </a>


</mat-nav-list>

